<main id="market" data-market-name="LNG & GAS" data-market="lng_gas" data-views="page-market">
    <section class="main-section">

        <header class="hero">
            <h1>Leader in<br>LNG & GAS</h1>

            <p class="desc">
                Accelerating the energy transition in reducing CO₂ emissions and improving energy efficiency. We combine these capabilities with our technology and know-how to develop new solutions that support the energy transition in reducing LNG plant emissions and improving their energy efficiency.
            </p>
        </header>

        <div class="section-content">
            <ul class="articles">
                <li>
                    <a class="cta-page" href="${slug}global_leader_in_gaz_plant_design_and_construction/">
                        <svg class="icon" width="58" height="58" aria-hidden="true" viewBox="0 0 58 58">
                            <use xlink:href="assets/img/icons.svg#factory"></use>
                        </svg>
                        <span>Global leader in gaz plant design and construction</span>
                    </a>
                </li>
                <li>
                    <a class="cta-page" href="${slug}world_leader_in_lng">
                        <svg class="icon" width="58" height="58" aria-hidden="true" viewBox="0 0 58 58">
                            <use xlink:href="assets/img/icons.svg#factory1"></use>
                        </svg>
                        <span>World Leader in Lng</span>

                    </a>
                </li>
                <li>
                    <a class="cta-page" href="${slug}low_to_zero_carbon_lng">
                        <svg class="icon" width="58" height="58" aria-hidden="true" viewBox="0 0 58 58">
                            <use xlink:href="assets/img/icons.svg#low_carbon"></use>
                        </svg>
                        <span>Low-to-Zero Carbon LNG</span>
                    </a>
                </li>
                <li>
                    <a class="cta-page" href="${slug}flng_gas_fpso">
                        <svg class="icon" width="58" height="58" aria-hidden="true" viewBox="0 0 58 58">
                            <use xlink:href="assets/img/icons.svg#boat"></use>
                        </svg>
                        <span> FLNG / GAZ FPSO</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="block-offers">
            <h2>Our offer</h2>
            <ul class="offers">
                <li>
                    <a class="cta-page" href="${slug}design_and_construction">
                        <picture>
                            <img src="assets/img/${slug}offer-1.jpg" alt="">
                        </picture>
                        <h3>Design & construction of plant</h3>
                        <svg class="icon" width="16" height="16" aria-hidden="true" viewBox="0 0 16 16">
                            <use xlink:href="assets/img/icons.svg#arrow"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a class="cta-page" href="${slug}our_technologies">
                        <picture>
                            <img src="assets/img/${slug}offer-2.jpg" alt="">
                        </picture>
                        <h3>Our technologies</h3>
                        <svg class="icon" width="16" height="16" aria-hidden="true" viewBox="0 0 16 16">
                            <use xlink:href="assets/img/icons.svg#arrow"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a class="cta-page" href="${slug}our_products">
                        <picture>
                            <img src="assets/img/${slug}offer-3.jpg" alt="">
                        </picture>
                        <h3>Our products</h3>
                        <svg class="icon" width="16" height="16" aria-hidden="true" viewBox="0 0 16 16">
                            <use xlink:href="assets/img/icons.svg#arrow"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>

        <div class="block-discover">
            <div class="sticky">
                ${view("hero-secondary", {
                    'title': "Discover our<br>main projects",
                    'class': "invert"
                })}
            </div>
        </div>
    </section>
</main>

${view("block-contact")}