<header class="hero-secondary${args.class ? ` ${args.class}` : ''}">
    <img class="rond0" src="assets/img/rond.png" alt="" width="158">

    <svg class="rond1" aria-hidden="true" width="150" height="150" viewBox="0 0 188 188">
        <circle fill="var(--color-5)" cx="94" cy="94" r="94" />
    </svg>

    <h2>${args.title}</h2>

    <svg class="rond2" aria-hidden="true" width="150" height="150" viewBox="0 0 188 188">
        <circle fill="var(--color-5)" cx="94" cy="94" r="94" />
    </svg>
</header>
