<main id="article" class="scrollAnimate" data-market-name="LNG & GAS" data-market="lng_gas"  data-views="page-article">
    <section class="main-section">
        <section id="section1" class="strate">
            <div class="section-content">
                ${view("hero-primary", {
                    'title': "FLNG<br>/Gas FPSO",
                    'text': "Floating LNG & Gas FPSO / Unique combination<br>of experience and expertise"
                })}

                ${view("block-desc", {
                    'text': `
                    <p>
                        We are a pioneer in FLNG, an innovative alternative to traditional onshore LNG plants. FLNG offers a commercially attractive and environmentally friendly approach to monetization of offshore gas fields.
                    </p>
                    <p>
                        We are also a pioneer in gas FPSO, an alternative to FLNG to develop stranded offshore gas fields to export gas for feeding either existing new onshore LNG plants or domestic market.
                    </p>`
                })}
                <button class="btn-scroll">Scroll to expore</button>
            </div>

            <div class="section-bg">
                <div class="fixed">
                    <img src="assets/img/${slug}bg-0.jpg" width="684" alt="">
                </div>
            </div>
        </section>

        <section id="section2" class="strate">
            <div class="section-content">
                ${view("hero-secondary", {
                    'title': "FLNG / Gas FPSO<br>projects in the world"
                })}
        
                <!-- block-projects -->
                ${view("block-projects", {
                    "blocks": [
                        {
                            "title" : "Our key operating<br>references includes",
                            "items" : [
                                {
                                    "img": `assets/img/${slug}projet-0.jpg`,
                                    "country" : "Australia",
                                    "title": "Prelude FLNG",
                                    "desc": "Sed uta perspiciatis unde omnis iste natus error sit est voluptatem accusantium doloremque laudantium, totam rem aperiam"
                                },
                                {
                                    "img": `assets/img/${slug}projet-1.jpg`,
                                    "country" : "Malaysia",
                                    "title": "Satu FLNG",
                                    "desc": "Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum, augue velit"
                                }
                            ]
                        },
                        {
                            "title" : "We are currently<br>executing",
                            "items" : [
                                {
                                    "img": `assets/img/${slug}projet-2.jpg`,
                                    "country" : "Mozambique",
                                    "title": "Coral FLNG",
                                    "desc": "Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Nullam accumsan lorem"
                                },
                                {
                                    "img": `assets/img/${slug}projet-3.jpg`,
                                    "country" : "China",
                                    "title": "Karish & Tanin FPSO",
                                    "desc": "Perspiciatis unde omnis iste natus error sit est voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa"
                                },
                                {
                                    "img": `assets/img/${slug}projet-4.jpg`,
                                    "country" : "Senegal",
                                    "title": "Tortue FPSO",
                                    "desc": "Sed uta perspiciatis unde omnis iste natus error sit est voluptatem accusantium doloremque laudantium, totam rem aperiam"
                                }
                            ]
                        }
                    ]
                })}
            </div>

            <div class="section-bg">
                <div class="fixed">
                    <img src="assets/img/${slug}bg-1.jpg" width="684" alt="">
                </div>
            </div>
        </section>

        <section id="section3" class="strate light">
            <div class="section-content">
                ${view("hero-third", {
                    'title': "We manage the entire project<br>from concept to start-up<br>and are a unique source<br>for integrated Engineering,<br>Procurement, Construction<br>and Installation contracts."
                })}

                ${view("list-key_numbers", {
                    "items": [
                        {
                            "icon": "world",
                            "number": "600,000",
                            "key": 'Tons displacement:<br>World’s heaviest floating vessel, FLNG Prelude in Australia'
                        },
                        {
                            "icon": "premium",
                            "number": "40+",
                            "key": `Engineering studies
                            from concept definition
                            to EPC`
                        },
                        {
                            "icon": "first",
                            "number": "1st",
                            "key": `World first FLNG:
                            PFLNG Satu in Malaysia,
                            first offloading April 2017`
                        }
                    ]
                })}
            </div>

            <div class="section-bg">
                <div class="fixed">
                    <img src="assets/img/${slug}bg-2.jpg" width="684" alt="">
                </div>
            </div>
        </section>

        <section id="section4" class="strate light">
            <div class="section-content">
                ${view("block-citations", {
                    "items": [
                    {
                        "hidden": false,
                        "id": "citation-1",
                        "author": "Julie Colombel",
                        "author_function": "LNG Product Line Lorem Ipsum",
                        "author_img": `assets/img/${slug}citation-0.jpg`,
                        "text": `No hydrocarbon is richer in hydrogen than LNG. While the global energy mix is gradually decarbonizing, Technip Energies remains the leader in liquefaction and low-carbon LNG.
                        Our projects can help our customers eliminate fuel poverty and rapidly improve air quality
                        in fast growing economies.`
                    },
                    {
                        "hidden": true,
                        "id": "citation-2",
                        "author": "Clarisse Dezerable",
                        "author_function": "Manager",
                        "author_img": `assets/img/${slug}citation-1.jpg`,
                        "text": `No hydrocarbon is richer in hydrogen than LNG. While the global energy mix is gradually decarbonizing, Technip Energies remains the leader in liquefaction and low-carbon LNG.
                        Our projects can help our.`
                    }
                    ]
                })}
            </div>

            <div class="section-bg">
                <div class="fixed">
                    <img src="assets/img/${slug}bg-3.jpg" width="684" alt="">
                </div>
            </div>
        </section>

        <section id="section5" class="strate light">
            <div class="section-content">
                ${view("hero-secondary", {
                    'title': "Etiam ultricies nisi vel augue curabitur ullamcor"
                })}

                ${view("block-wysiwyg", {
                    'text': "<p> Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend sapien.</p>"
                })}
  
                ${view("block-video", {
                    "posterframe": `assets/img/${slug}posterframe.jpg`,
                    "video": "assets/video/video.mp4"
                })}
        
                ${view("block-wysiwyg", {
                    'text': `
                    <h3 class="tl3">Cras ultricies mi eu turpis</h3>
                    <p>Sed aliquam ultrices mauris. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat pretium libero. Cras id dui. Aenean ut eros et nisl sagittis vestibulum. Nullam nulla eros, ultricies sit amet, nonummy id, imperdiet feugiat</p>
                    `
                })}

                ${view("block-img_2", {
                    "img1": `assets/img/${slug}img-0.jpg`,
                    "img2": `assets/img/${slug}img-1.jpg`,
                })}
            </div>

            <div class="section-bg">
                <div class="fixed">
                    <img src="assets/img/${slug}bg-4.jpg" width="684" alt="">
                </div>
            </div>
        </section>

        ${view("strate-cross_selling", {
            "title": `Leader in
            LNG & Gas`,
            "text": `Accelerating the energy transition in reducing CO₂ emissions and improving energy efficiency. We combine these capabilities with
            our technology and know-how to develop new solutions that support the energy transition in reducing LNG plant emissions
            and improving their energy efficiency.`,
            "items": [
                {
                    "picto": "factory",
                    "href": "/",
                    "title": "Global leader in gas plant design and construction"
                },
                {
                    "picto": "low_carbon",
                    "href": "/",
                    "title": "low-to-carbon lng"
                },
                {
                    "picto": "factory1",
                    "href": "/",
                    "title": "World leading LNG"
                }
            ]
        })}
    </section>
</main>
${view("block-contact")}
