<nav id="nav" role="navigation">
    <div class="slider-nav">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide" data-market="lng_gas">
                    <h2 data-swiper-parallax="250" data-swiper-parallax-opacity=".5" data-swiper-parallax-scale=".5">LNG & Gas</h2>
                    <picture>
                        <img src="assets/img/hub/lng_gas/market.jpg" alt="">
                       
                    </picture>
                </div>

                <div class="swiper-slide" data-market="hydrogen">
                    <h2 data-swiper-parallax="250" data-swiper-parallax-opacity=".5" data-swiper-parallax-scale=".5">Hydrogen</h2>
                    <picture>
                        <img src="assets/img/hub/lng_gas/market.jpg" alt="">
                    </picture>
                </div>

                <div class="swiper-slide" data-market="Ethylene">
                    <h2 data-swiper-parallax="250" data-swiper-parallax-opacity=".5" data-swiper-parallax-scale=".5">Ethylene</h2>
                    <picture>
                        <img src="assets/img/hub/lng_gas/market.jpg" alt="">
                    </picture>
                </div>
            </div>
        </div>
    </div>

    <div class="links">
        <ul class="level0 market-links" data-market="lng_gas">
            <li class="item-0"><a class="cta-page link-0" href="hub/lng_gas/global_leader_in_gaz_plant_design_and_construction/">Global leader in gas plant design and construction</a></li>
            <li class="item-0"><a class="cta-page link-0" href="hub/lng_gas/world_leader_in_lng/">World Leader in LNG</a></li>
            <li class="item-0"><a class="cta-page link-0" href="hub/lng_gas/low_to_zero_carbon_lng/">Low-to-Zero Carbon LNG </a></li>
            <li class="item-0"><a class="cta-page link-0" href="hub/lng_gas/flng_gas_fpso/">FLNG / Gas FPSO</a></li>
            <li class="item-0"><a class="cta-page link-0" href="hub/lng_gas/design_and_construction/">Design and construction</a></li>
            <li class="item-0">
                <details>
                    <summary>
                        <span class="link-0">Our technologies</span>
                        <svg class="icon more" width="16" height="16" aria-hidden="true" viewBox="0 0 16 16">
                            <use xlink:href="assets/img/icons.svg#more"></use>
                        </svg>
                        <svg class="icon less" width="16" height="16" aria-hidden="true" viewBox="0 0 16 16">
                            <use xlink:href="assets/img/icons.svg#less"></use>
                        </svg>
                    </summary>
                    <ul class="level1">
                        <li><a class="cta-page" href="hub/lng_gas/our_technologies/#heat_exchangers_for_lng">Heat Exchangers for LNG</a></li>
                        <li><a class="cta-page" href="hub/lng_gas/our_technologies/#crypmax_process_for_ngl_recovery">CRYOMAX® process for NGL Recovery</a></li>
                        <li><a class="cta-page" href="hub/lng_gas/our_technologies/#gas_processing">Gas Processing</a></li>
                        <li><a class="cta-page" href="hub/lng_gas/our_technologies/#research_center">Research Center</a></li>
                    </ul>
                </details>
            </li>
            <li class="item-0">
                <details>
                    <summary>
                        <span class="link-0">Our products</span>
                        <svg class="icon more" width="16" height="16" aria-hidden="true" viewBox="0 0 16 16">
                            <use xlink:href="assets/img/icons.svg#more"></use>
                        </svg>
                        <svg class="icon less" width="16" height="16" aria-hidden="true" viewBox="0 0 16 16">
                            <use xlink:href="assets/img/icons.svg#less"></use>
                        </svg>
                    </summary>
                    <ul class="level1">
                        <li><a class="cta-page" href="hub/lng_gas/our_products/#loading_systems">Loading Systems</a></li>
                        <li><a class="cta-page" href="hub/lng_gas/our_products/#cryogenic_pipe_in_pipe">Cryogenic Pipe in Pipe</a></li>
                    </ul>
                </details>
            </li>
        </ul>

        <ul class="level0 market-links" data-market="hydrogen">
            <li class="item-0"><a class="cta-page link-0" href="hub/hydrogen/projet1/">Projet 1</a></li>
            <li class="item-0"><a class="cta-page link-0" href="hub/hydrogen/projet1/">Projet 2</a></li>
            <li class="item-0"><a class="cta-page link-0" href="hub/hydrogen/projet1/">Projet 3</a></li>
            <li class="item-0"><a class="cta-page link-0" href="hub/hydrogen/projet1/">Projet 4</a></li>
            <li class="item-0"><a class="cta-page link-0" href="hub/hydrogen/projet1/">Projet 5</a></li>
            <li class="item-0">
                <details>
                    <summary>
                        <span class="link-0">Our technologies</span>
                        <svg class="icon more" width="16" height="16" aria-hidden="true" viewBox="0 0 16 16">
                            <use xlink:href="assets/img/icons.svg#more"></use>
                        </svg>
                        <svg class="icon less" width="16" height="16" aria-hidden="true" viewBox="0 0 16 16">
                            <use xlink:href="assets/img/icons.svg#less"></use>
                        </svg>
                    </summary>
                    <ul class="level1">
                        <li><a class="cta-page" href="hub/lng_gas/our_technologies/#heat_exchangers_for_lng">Heat Exchangers for LNG</a></li>
                        <li><a class="cta-page" href="hub/lng_gas/our_technologies/#crypmax_process_for_ngl_recovery">CRYOMAX® process for NGL Recovery</a></li>
                        <li><a class="cta-page" href="hub/lng_gas/our_technologies/#gas_processing">Gas Processing</a></li>
                        <li><a class="cta-page" href="hub/lng_gas/our_technologies/#research_center">Research Center</a></li>
                    </ul>
                </details>
            </li>
            <li class="item-0">
                <details>
                    <summary>
                        <span class="link-0">Our products</span>
                        <svg class="icon more" width="16" height="16" aria-hidden="true" viewBox="0 0 16 16">
                            <use xlink:href="assets/img/icons.svg#more"></use>
                        </svg>
                        <svg class="icon less" width="16" height="16" aria-hidden="true" viewBox="0 0 16 16">
                            <use xlink:href="assets/img/icons.svg#less"></use>
                        </svg>
                    </summary>
                    <ul class="level1">
                        <li><a class="cta-page" href="hub/lng_gas/our_products/#loading_systems">Loading Systems</a></li>
                        <li><a class="cta-page" href="hub/lng_gas/our_products/#cryogenic_pipe_in_pipe">Cryogenic Pipe in Pipe</a></li>
                    </ul>
                </details>
            </li>
        </ul>
    </div>
</nav>