<div class="block-contact" data-views="block-contact">
    <button class="btn-open">Reach<br>out to us</button>

    <button class="btn-close">
        <svg fill="#fff" width="30" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 33" xml:space="preserve">
            <polygon points="31.8,6.5 25.5,0.2 15.9,9.7 6.4,0.2 0,6.5 9.5,16.1 0,25.6 6.4,32 15.9,22.5 25.5,32 31.8,25.6  22.3,16.1 " />
        </svg>
    </button>

    <div class="content">
        <h2>Reach out to us</h2>

        <p>Technip Energies is a leading engineering and technology player</p>

        <address>
            Technip Energies<br>
            <a href="mailto:marketing@technipenergies.com" target="_blank">lorem@technnipenergies.fr</a><br>
            +33 (0)1 47 78 21 21
        </address>
    </div>
</div>